@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Vazir.woff2') format('woff2'), 
    url('../fonts/Vazir.woff') format('woff'), 
    url('../fonts/Vazir.ttf') format('truetype');
   }
   @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Vazir-Bold.woff2') format('woff2'), 
    url('../fonts/Vazir-Bold.woff') format('woff'), 
    url('../fonts/Vazir-Bold.ttf') format('truetype');
   }
    
body{
font-family: 'Vazir', Arial, sans-serif;
font-weight:normal;
}

/*buttons*/
#addbtn{
    color: #fff;
    background-color: #fa33a0;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
    border-radius: 7px;
    flex-direction: row-reverse
}
.btn {
    position: relative;
    /* padding: 12px 30px; */
    margin: .3125rem 1px;
    /* font-size: .75rem; */
    /* font-weight: 400; */
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}

.btn.btn-just-icon {
    font-size: 20px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

.btn.btn-just-icon fa{
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px;
}
.btn.btn-link{
    background-color: transparent;
    color: #999;
}
input{
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;  
}

